@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  /* Serif font */
  /* font-family: 'Source Serif 4', serif; */
  /* Styled font */
  /* font-family: 'Bebas Neue', sans-serif; */
  /* Main font */
  font-family: 'Lato', sans-serif;
  background-color: #f2e1c2;
  color: #401515;
}

.marquee {
  font-size: 7rem;
  background-color: #f2e1c2;
  color: #f27830;
  font-style: italic;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
}

.projectbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  filter: blur(0px);
  flex-wrap: wrap;
}

.projectbox:hover .card:not(:hover) {
  filter: blur(2.5px);
}

.card {
  height: 70vh;
  width: 30vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 0px;
  transition: filter 0.5s, border-radius 0.5s;
  margin: 30px 0px;
}

.card:hover {
  border-radius: 15px;
}

.card-page {
  height: 60vh;
  width: 30vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 0px;
  border-radius: 0px;
  transition: filter 0.5s, border-radius 0.5s;
  margin: 30px 0px;
}

.card-page:hover {
  border-radius: 15px;
}

.todo-card {
  background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgb(64, 21, 21) 100%),
    url('../imgs/todo-app.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hockey-card {
  background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgb(64, 21, 21) 100%),
    url('../imgs/prohockey.jpg');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.skull-split-card {
  background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgb(64, 21, 21) 100%),
    url('../imgs/skull-split.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jim-chapman {
  background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgb(64, 21, 21) 100%),
    url('../imgs/jim-chapman.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.github-finder {
  background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgb(64, 21, 21) 100%),
    url('../imgs/github-finder.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fifty-in-fifty {
  background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgb(64, 21, 21) 100%),
    url('../imgs/fifty-in-fifty.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.updraft {
  background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgb(64, 21, 21) 100%),
    url('../imgs/blackridge.png');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
