@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  /* Serif font */
  /* font-family: 'Source Serif 4', serif; */
  /* Styled font */
  /* font-family: 'Bebas Neue', sans-serif; */
  /* Main font */
  font-family: 'Lato', sans-serif;
  background-color: #f2e1c2;
  color: #401515;
}

.marquee {
  font-size: 7rem;
  background-color: #f2e1c2;
  color: #f27830;
  font-style: italic;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
}
